<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262535965607-hmvuk9fv4bdjrss8gbb6s63kvulcs78b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262535965607-hmvuk9fv4bdjrss8gbb6s63kvulcs78b</string>
	<key>API_KEY</key>
	<string>AIzaSyDzzYocLcGAWfTksermNZUYS6Gwtv_6c38</string>
	<key>GCM_SENDER_ID</key>
	<string>262535965607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lolsite.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lolfirenotes</string>
	<key>STORAGE_BUCKET</key>
	<string>lolfirenotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262535965607:ios:aa9ce21bd46208eb2e2482</string>
</dict>
</plist>